body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('logo-frontal-bmw.jpg');
    background-size: cover;
}
#encabezado{
    font-family: 'Lakki Reddy', cursive;
    display: flex;
    justify-content: center;
    color: #ff5252;
}
#lista{
    display: flex;
    justify-content: center;
}
.s1{
display: flex;
justify-content: center;
}
.s2{

}
.s3{

}
.s4{

}
.s5{

}
.s6{

}
.s7{

}
.s8{

}
#client{
    
}
#reservas{

}
#resultados{

}