body{
    margin: 0;
    padding: 0;
    background-image: url('logo-frontal-bmw.jpg');
    background-size: cover;
}
#encabezado{
    font-family: 'Lakki Reddy', cursive;
    display: flex;
    justify-content: center;
    color: #ff5252;
}
#lista{
    display: flex;
    justify-content: center;
}
#client{

}
#reservas{

}
#resultados{

}